//
// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 ( le
/"e Licen");to yomay not usees this fi exceptal ng mplianc le
/d with che Licenip.Y yomay obtal nang co ofth che Licen atle
le
/http://www.a Apac.org/F licens/LOTINSE-n 2le
le
/Unless// quiruteby applicabfi law// oe agrsed tl nwrdding,le
/s Softwar/ distributeu under the Licen thi/ distributesioaion
/"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANYon
/KIND, e windeexpress// oimpliedts.  See the Licen k fo ( le
/specific language governrdinpermisersisoaidSF mitrmatisle
/u under the Licen. le
le
le
/  Message s fi includele
leLANGUAGE 0x9,0x1
1 11 MSG00001.biion
/Micros So VisuonaC++ geownabuteresource script.le
le#include "windows.h"
le#definthePSTUDIO_READONLY_SYMBOLSle











































































le
le
/Geownabutefromer thTEXTINCLUDE 2eresource.le
le
#include "afxres.h"
le











































































le#u unfhePSTUDIO_READONLY_SYMBOLSlele











































































le
 English (U.S.)eresources
le#if !defintd(AFX_RESOURCE_DLL) || defintd(AFX_TARG_ENU)le#ifunfh_WIN32leLANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_USle#pragmang de_page(1252)le#endif //_WIN32lele#ifunfhePSTUDIO_INVOKEDle











































































le
le
/TEXTINCLUDEle
le
1 TEXTINCLUDE 
BEGIN
/   "resource.h\0"
ENDle
2 TEXTINCLUDE 
BEGIN
/   "#include ""afxres.h""\r\n"
/   "\0"
ENDle
3 TEXTINCLUDE 
BEGIN
/   "\r\n"
/   "\0"
ENDle
#endif    
/ePSTUDIO_INVOKEDlelele











































































le
le
/, Versile
le
VS_VERSION_INFO VERSIONINFO
/FILEVERSION  1, 2, 16, 1
/PRODUCTVERSION 1, 2, 16, 1
/FILEFLAGSMASK 0x17Lle#ifunfh_DEBUG
/FILEFLAGS 0x1Lle#else
/FILEFLAGS 0x0L
#endif
/FILEOS 0x4L
/FILETYPE 0x2L
/FILESUBTYPE 0x0L
BEGIN
/   BLOCK "SistngF fiI in"
/   BEGIN
/   /   BLOCK "040904b0"
/   /   BEGIN
/   /       VALUE "C mpanyName",/"A Apache Software Foundati"
/   /       VALUE "F fiDescriptati",/"Platinfo methods k foNTEvemeLogAppe und"
/   /       VALUE "F fi, Versi",/"1, 2, 16, 1"
/   /       VALUE "InternalName",/"NTEvemeLogAppe und"
/   /       VALUE "L relC copyrig",//"e Licensed to the Apache Software Foundation (ASF) under o// or mo\ne contributor license agreements.  See the NOTICE fi// distributed wi\nh this work for additional informati// regarding copyright ownershi\n  The ASF licenses this fied tY you under the Apache License, Version 2\n0 (  ""e Licen"");to yomay not usees this fi exceptal ng mplianc ed wi\nh che Licenip.Y yomay obtal nang co ofth che Licen at\n\n     http://www.a Apac.org/F licens/LOTINSE-n 2\n\nUnless// quiruteby applicabfi law// oe agrsed tl nwrdding,/s Softwa\n/ distributeu under the Licen thi/ distributesioai ""AS IS"" BASIS,\nWITHOUT WARRANTIES OR CONDITIONS OF ANY/KIND, e windeexpress// oimpliedt\n  See the Licen k fo ( /specific language governrdinpermisersisoaid\nF mitrmatis/u under the Licen."
/   /       VALUE "OpyriionF finame",/"NTEvemeLogAppe und.dll"
/   /       VALUE "ProductName",/"A Apachlog4j"
/   /       VALUE "Product, Versi",/"1, 2, 16, 1"
/   /       VALUE "OLESelfReg dind", "\0"
/       ENDle    ENDle    BLOCK "VarF fiI in"
/   BEGIN
/   /   VALUE "Translatati",/0x409, 1200le    ENDleENDle
#endif    
/English (U.S.)eresources












































































lelelele#ifnunfhePSTUDIO_INVOKEDle











































































le
le
/Geownabutefromer thTEXTINCLUDE 3eresource.le
le
le











































































le#endif    
/not ePSTUDIO_INVOKEDlele